<!DOCTYPE html>
<html lang="en">
<head>
    @await Html.PartialAsync("CssPartial")
    @await Html.PartialAsync("MetatagsPartial")
    <link rel="link" href="" />

</head>
<body>
    <div class="mainContainer">

        @await Html.PartialAsync("HeaderPartial");

        <div class="mainContainer">
            <main role="main" class="pb-3">
                @RenderBody()
            </main>
        </div>

        @await Html.PartialAsync("FooterPartial")

    </div>
    @await Html.PartialAsync("ScriptPartial")
</body>

</html>
