<footer class="border-top footer text-muted">
    <div class="footer__container">
        <div class="subscribe">
            <div>
                Subscribe to our newsletters
            </div>
            <form>
                <img class="subscribeMail" src="images/message.svg" alt="message.svg">
                <input class="subscribe__text" type="email" placeholder="your@email.com">
                <input class="subscribe__button" type="submit" name="submit" value="SUBSCRIBE">
            </form>
        </div>
        <div class="footer-block">
            <div class="container">
                <hr class="content__endLine">
                <div class="footer__content">
                    <div class="footer__links">
                        <nav>
                            <a href="">Ipsum quis</a>
                            <a href="">Pulvinar purus</a>
                            <a href="">Aliquam quis</a>
                            <a href="">Etiam cursus</a>
                            <a href="">Ipsum quis</a>
                            <a href="">Enim faucibus</a>
                        </nav>
                    </div>
                    <div class="footer__links">
                        <nav>
                            <a href="">Ipsum quis</a>
                            <a href="">Pulvinar purus</a>
                            <a href="">Aliquam quis</a>
                            <a href="">Etiam cursus</a>
                            <a href="">Ipsum quis</a>
                            <a href="">Enim faucibus</a>
                        </nav>
                    </div>
                    <div class="footer__links">
                        <nav>
                            <a href="">Follow us</a>
                            <div class="footer__thirdColumn__links">
                                <a href=""><img src="images/facebook.svg" alt="facebook.svg" class="companiesNetworksImg"></a>
                                <a href=""><img src="images/twitter.svg" alt="twitter.svg" class="companiesNetworksImg"></a>
                                <a href=""><img src="images/googlePlus.svg" alt="googlePlus.svg" class="companiesNetworksImg"></a>
                                <a href=""><img src="images/youtube.svg" alt="youtube.svg" class="companiesNetworksImg"></a>
                            </div>
                            <div class="copyright">
                                <p>Copyright &#169;All Rights reserved</p>
                            </div>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>