<header class="header">
    <div class="container">
        <div class="header__body">
            <a href="" class="header__logo">
                <img src="~/images/logo.svg" alt="logo">
                <p>@Config.CompanyName</p>
            </a>
            <div class="header__burger">
                <span></span>
            </div>
            <nav class="header__menu">
                <ul class="header__list">
                    <li>
                        <a href="" class="header__link">REALITY</a>
                    </li>
                    <li>
                        <a href="" class="header__link">LIVING</a>
                    </li>
                    <li>
                        <a href="" class="header__link">EDUCATION</a>
                    </li>
                    <li>
                        <a href="" class="header__link">ENTERTAINMENT</a>
                    </li>
                    <li>
                        <a href="" class="header__link">MOBILITY</a>
                    </li>
                    <li class="flex__link">
                        <a href="" class="header__link"><img src="~/images/search.svg" alt="search" class="header__icon">SEARCH</a>
                    </li>
                    <li class="flex__link">
                        <a href="" class="header__link"><img src="~/images/login.svg" alt="login" class="header__icon">LOGIN</a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
</header>