<header>
    <div class="content">
        <img class="headerImg" src="images/logo.svg" alt="logo" />

        <a class="buttonLogin" href="/Login/Login">LOGIN</a>
        <a class="buttonRegistration" href="/Login/Registration">REGISTRATION</a>

    </div>
</header>