@{
    string accountActionHref = "";
    string accountActionText = "";
    string searchText = "";
    string userName = User.Identity.Name;
    if(userName == default)
    {
        accountActionHref = "/Account/Login";
        accountActionText = "LOGIN";
        searchText = "SEARCH";
    }
    else
    {
        accountActionHref = "/Account/Logout";
        accountActionText = "LOGOUT";
        searchText = "";
        if (userName.Length > 10)
        {
            userName = userName.Remove(6) + "...";
        }
    }
}

<header class="header">
    <div class="container">
        <div class="header__body">
            <a href="/" class="header__logo">
                <img src="~/images/logo.svg" alt="logo">
                <p>@Config.CompanyName</p>
            </a>
            <div class="header__burger">
                <span></span>
            </div>
            <nav class="header__menu">
                <ul class="header__list">
                    <li>
                        <a href="" class="header__link">REALITY</a>
                    </li>
                    <li>
                        <a href="" class="header__link">LIVING</a>
                    </li>
                    <li>
                        <a href="" class="header__link">EDUCATION</a>
                    </li>
                    <li>
                        <a href="" class="header__link">ENTERTAINMENT</a>
                    </li>
                    <li>
                        <a href="" class="header__link">MOBILITY</a>
                    </li>
                    <li class="flex__link">
                        <a href="" class="header__link"><img src="~/images/search.svg" alt="search" class="header__icon">@searchText</a>@* Убираю текст, чтобы освободить место под имя пользователя*@
                    </li>
                    <li class="flex__link">
                        <a href="@accountActionHref" class="header__link"><img src="~/images/login.svg" alt="login" class="header__icon">@accountActionText @userName</a>@* Изначально был сверстан без учета имени пользователя*@
                    </li>
                </ul>
            </nav>
        </div>
    </div>
</header>