
<div id="popup__login" class="popup__login">
    <div class="popup__login__body">
        <div class="popup__login__content">
            <a href="#header" class="popup__login__close close-popup__login">X</a>
            <div class="popup__title">
                Это модальное окно
            </div>
            <div class="popup__text">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquid, atque assumenda laudantium quisquam culpa sapiente magnam rerum perferendis voluptatum quas soluta cupiditate recusandae laborum est asperiores eius quidem quibusdam. Nam, deleniti dignissimos doloremque nesciunt, asperiores sunt blanditiis sequi placeat totam.
            </div>
        </div>
    </div>
</div>

@*@if (Model == null)
{
    @:<script type="text/javascript">
    @:function openLoggin()
    @:$("#popup__login").click();
    @:</script>
}*@