@*@{
        ViewData["Title"] = "Login";
    }

    <h1>@ViewData["Title"]</h1>

    <form>
        <p>Введи Логин</p>
        <input>
        <p>Введи Пароль</p>
    </form>


    <form id="avtorization-form" name="auth_form" method="post" target="_top" action="/ajax/show_auth_popup.php?login=yes" novalidate="novalidate">
        <input type="hidden" name="backurl" value="/ajax/auth.php">
        <input type="hidden" name="AUTH_FORM" value="Y">
        <input type="hidden" name="TYPE" value="AUTH">
        <div class="r form-control bg">
            <label class="" for="USER_LOGIN_POPUP">Email <span class="star">*</span></label>
            <input type="text" name="USER_LOGIN" id="USER_LOGIN_POPUP" class="required" maxlength="50" value="" placeholder="Email" autocomplete="on" tabindex="1" aria-required="true">
        </div>
        <div class="r form-control bg">
            <label class="" for="USER_PASSWORD_POPUP">Пароль <span class="star">*</span></label>
            <input type="password" name="USER_PASSWORD" id="USER_PASSWORD_POPUP" class="required" maxlength="50" placeholder="Пароль" tabindex="2" aria-required="true">
        </div>
        <div class="but-r cleaarboth">
            <div class="filter block">
                <a class="forgot" href="/auth/forgot-password/" tabindex="3">Забыли пароль?</a>
                <div class="prompt remember">
                    <input type="checkbox" id="USER_REMEMBER_frm" name="USER_REMEMBER" value="Y" tabindex="5">
                    <label for="USER_REMEMBER_frm" title="Запомнить меня на" tabindex="5">Запомнить меня</label>
                </div>
            </div>
            <div class="buttons">
                <button type="submit" class="button vbig_btn wides" name="Login" value="" tabindex="4">
                    <span>Войти</span>
                </button>
            </div>
        </div>
    </form>*@
@{
    ViewData["Title"] = "Login";
}

@model LoginViewModel
<div>
    <h1>Вход в личный кабинет</h1>
    <div>
        <form asp-area="" asp-controller="Account" asp-action="Login" method="post" asp-route-returnUrl="@ViewBag.returnUrl">
            <div asp-validation-summary="All"></div>
            <div>
                <label asp-for="UserName"></label>
                <input asp-for="UserName" />
                <span asp-validation-for="UserName"></span>
            </div>
            <div>
                <label asp-for="Password"></label>
                <input asp-for="Password" />
                <span asp-validation-for="Password"></span>
            </div>
            <div>
                <label asp-for="RememberMe"></label>
                <input asp-for="RememberMe" />
                <span asp-validation-for="RememberMe"></span>
            </div>
            <div>
                <input type="submit" value="Войти" />
            </div>
        </form>
    </div>
</div>