@{
    ViewData["Title"] = "Login";
    Layout = "_AccountLayout";
}

@model LoginViewModel
<div class="container">
        <a href="/" class="logo">
            <img src="~/images/logo.svg" alt="logo">
            @Config.CompanyName
        </a>
        <form asp-area="" asp-controller="Account" asp-action="Login" method="post" asp-route-returnUrl="@ViewBag.returnUrl">
            <a href="/" class="close__page">
                &#215;
            </a>
            <div class="form__title">
                <h2>Login</h2>
            </div>
            <div asp-validation-summary="All"></div>
            <div class="form__items">
                <div class="form__item">
                    <label asp-for="UserName">Email</label>@*TODO Temp, подправить в будущем*@
                    <input asp-for="UserName" required />

                </div>
                <div class="form__item">
                    <label asp-for="Password"></label>
                    <input asp-for="Password" required />
                </div>
                <div class="form__item checkbox">
                    <label asp-for="RememberMe"></label>
                    <input asp-for="RememberMe" />
                </div>
                <div class="form__item">
                    <input type="submit" name="submit" value="Login">
                </div>
            </div>
            <a href="/Account/Register" class="register">
                Register
            </a>
            <a href="" class="forget__password">
                <!-- На будущее забытие пароля -->
            </a>
        </form>
        @*<a href="#">Регистрация</a>*@
</div>
