@{
    string strTitle = "Панель Администратора";
    ViewBag.Title = strTitle;
}

<div class="admin__container">
    <h1>@strTitle</h1>
    <div>
        <ul>
            <li>
                <a asp-area="Admin" asp-controller="Producer" asp-action="Index" asp-route-id="">
                    Панель управления продуктами
                </a>
            </li>
            <li>
                <a asp-area="Admin" asp-controller="Product" asp-action="Index" asp-route-id="">
                    Панель управления продуктами
                </a>
            </li>
            <li>
                <a asp-area="Admin" asp-controller="ProductCards" asp-action="Index" asp-route-id="">
                    Панель управления карточек продуктов
                </a>
            </li>
        </ul>

        @Html.RenderPartialAsync("LogoutPartial")
    </div>
</div>