@font-face {
    font-family: GothamBook;
    src: url(../fonts/Gotham-Book.ttf);
}

@font-face {
    font-family: GothamBold;
    src: url(../fonts/Gotham-Bold.ttf);
}

* {

    font-size: 18px;
    font-family: "GothamBook", sans-serif;
    color: #000;
}

.logo {
    display: flex;
    flex-direction: row;
    align-items: center;
    font-family: "Gotham", sans-serif;
}

.logo p {
    margin: 0;
    font-weight: 700;
}

.external__container {}

.head__container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    font-family: "GothamBold", sans-serif;
}


.what__container {
    background-image: url(../images/searchBackground.jpg);
    background-color: #fff;
    background-position: 0px 0px;
    background-size: 100% 100%;
    /*100% 450px*/
    background-repeat: no-repeat;
    font-family: "GothamBook", sans-serif;
}

.tools__container {
    font-family: "GothamBook", sans-serif;
}

.content__container {
    background-color: #f3f1f2;
    padding: 20px 0px;
    font-family: "GothamBook", sans-serif;
}

.whatCan__container {
    background-color: #f3f1f2;
    padding-bottom: 143px;
    font-family: "GothamBook", sans-serif;
}


.container {
    /*background-color: #fff;*/
    max-width: 980px;
    margin: 0 auto;
    padding-left: 15px;
    padding-right: 15px;
}

.spacer {
    flex: 1 auto;
}

.special__container {
    /*background-color: #fff;*/
    max-width: 980px;
    margin: 0 auto;
    flex: 1 100%;
}

/*HEADER*/
.container__menu {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    /*align-items: flex-start;*/
    align-items: center;
    padding-left: 15px;
    padding-right: 15px;
}

.container__logo {
    font-size: 28px;
    font-stretch: normal;
}

.container__logo a {
    text-decoration: none;
}

.container__logo img {
    width: 45px;
    margin-right: 5px;
}


.container__menu__links__search__login {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    /*align-items: flex-start;*/
    align-items: center;
}

.menu__links {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
}

.container__menu__links {
    max-width: 1436px;
    margin: 0 auto;

}

.navicon {
    float: right;
    transform: rotate(90deg);
    display: none;
}


.header__burger {
    display: none;
    margin-right: 3px;
}



@media (max-width: 791px) {

    .header__burger {
        display: block;
        position: relative;
        width: 30px;
        height: 20px;
        position: relative;
        z-index: 3;
    }

    

    .header__burger span {
        position: absolute;
        background-color: #000;
        left: 0;
        width: 100%;
        height: 2px;
        top: 9px;
        transition: all 0.3s ease 0s;
    }

    .header__burger:before, .header__burger:after {
        content: "";
        background-color: #000;
        position: absolute;
        width: 100%;
        height: 2px;
        left: 0;
        transition: all 0.3s ease 0s;
    }

    .header__burger:before {
        top: 0;
    }

    .header__burger:after {
        bottom: 0;
    }

    .header__burger.active:before {
        transform: rotate(45deg);
        top: 9px;
    }

    .header__burger.active:after {
        transform: rotate(-45deg);
        bottom: 9px
    }

    .header__burger.active span {
        transform: scale(0);
    }

    .background__menu__links{
        display: block;
    }

    /*.header__burger {
        display: block;
        width: 30px;
        height: 20px;
        margin-right: 10%;
    }

    .header__burger span {
        background-color: #fff;
        width: 100%;
        height: 2px;
    }

    .header__burger:before,
    .header__burger:after {
        content: '';
        background-color: #000;
        width: 100%;
        height: 2px;
    }

    .header__burger:before {
        content: '';
        background-color: #000;
    }

    .header__burger:after {
        content: '';
        background-color: #000;
    }*/

    /*.navicon {
        display: block;
    }*/

    .container__menu__links {
        /*display: none;*/
        /*display: block;*/
        display: none;
    }

    .menu__links {
        /*width: 100%;*/
        /*display: block;*/
        flex-direction: column;
    }

    .link__menu__search {
        display: none;
    }

    .link__menu__login {
        display: none;
    }

}

.menuActive{
    margin-top: 80px;
}

.disable{
    display: none;
}

.activeBlock {
    display: block;
    position: absolute;
}

.background__menu__links{
    display: none;
    position: absolute;
    width: 100%;
    z-index: 50;
    top: 0;
    left: 0;
}

.background__menu__links:before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #fff;
}

.container__menu__links a {
    text-decoration: none;
    padding: 22px 10px 22px 10px;
    font-size: 16px;
    transition: .1s;
}

.container__menu__links a:hover {
    background-color: #ddd;
}

.link__menu__search {
    background-color: #e2dee0;

}

.link__menu__search:hover {
    background-color: #aaa;
    color: #666;
    transition: .3s;
}

.img__search {
    height: 23px;
    padding: 17px 25.5px 17px 25.5px;
}

.link__menu__login {
    background-color: #e94e38;
    flex: 1;

}

.link__menu__login:hover {
    background-color: #c72c16;
    transition: .3s;
}

.img__login {
    height: 23px;
    padding: 17px 25.5px 17px 25.5px;
}

.search {
    display: flex;
    flex-direction: column;
    /*align-items: flex-start;*/
    max-width: 476px;
    width: 100%;
    margin: 0 auto;

    align-items: center;
    font-size: 23.04pt;

}

.search__what {
    /*margin: 58px 39px 16px;*/
    color: #ffffff;
    margin-top: 50px;
}

.search__comboboxes {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    width: 100%;
    margin-top: 32px;

}


.search__comboboxes select {
    /*margin-right: 14px;*/
    width: 45%;
    height: 38px;
    border-radius: 30px;
    padding: 0 7%;
    border-color: rgba(255, 255, 255, 0.1);
    outline: none;
    color: #fff;
    cursor: pointer;

    /*cursor: pointer;
    outline: none;
    opacity: 0.2;
     /*Значение прозрачности 
    filter: alpha(Opacity=20);*/

    /*padding: 5px 35px 5px 5px;*/
    font-size: 18px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background: url(../images/arrow.svg) 89% / auto 30% no-repeat rgba(255, 255, 255, 0.1);
}

.search__comboboxes select:hover {
    border-color: rgba(225, 225, 225, 0.3);
    background: url(../images/arrow.svg) 89% / auto 30% no-repeat rgba(225, 225, 225, 0.3);
}

.search__comboboxes select option {
    /*TODO Не работает*/
    border-radius: 30px;
    padding: 0 7%;
    border-color: rgba(255, 255, 255, 0.1);
    outline: none;
    color: #000;
    cursor: pointer;
    font-size: 18px;

}



.search__text {
    margin: 38px 39px 0px;
    width: 100%;
    height: 38px;
    box-sizing: border-box;

    background-color: rgba(255, 255, 255, 0.1);
    border-color: rgba(255, 255, 255, 0.1);
    padding: 0 7%;
    opacity: 1;
    filter: none;
    border-radius: 30px;
    color: #fff;
    cursor: text;
    outline: none;
    font-family: "GothamBook", sans-serif;
}

/*
border-color: rgba(225, 225, 225, 0.3);
    background: url(../images/arrow.svg) 89% / auto 30% no-repeat rgba(225, 225, 225, 0.3);
*/

.search__text:hover {
    border-color: rgba(225, 225, 225, 0.3);
    background: rgba(225, 225, 225, 0.3);
}

/*Вроде, будет кросбраузерной после Prepros-а*/
input.search__text::placeholder {
    color: #fff;
}



/* Centered text */
.search__button {
    background: #CD1E1E;
    margin: 32px 0px 49px 0px;
    border-radius: 30px;
    border: none;
    color: #fff;
    cursor: pointer;
    outline: none;
    width: 110px;
    height: 52px;
    transition: 0.1s;
    font-family: "GothamBook", sans-serif;
}

.search__button:hover {
    background: #AB1B1B;
}


.filters {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.filters__row__1 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-top: 30px;
    margin-bottom: 10px;
}

.filters__row__2 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
}

@media (max-width: 769px) {
    .filters__row__1 {
        flex-direction: column;
        margin-top: 40px;
    }
}

.filters nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.filters nav a {
    margin-right: 20px;
}

.filters nav a:hover {
    color: #EF7070;
}

.filters__keywords nav a.active {
    color: color: #e94e38;
}



.filters nav a:last-child {
    margin-right: 0;
}


.filters__map {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex: 0 22%;
}

.filters__map select {
    width: 127px;
    height: 37px;
    border-radius: 30px;
    padding: 0 7%;
    border-color: rgba(202, 210, 211, 0.9);
    outline: none;
    color: #000;
    cursor: pointer;
    margin-right: 10px;

    font-size: 18px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background: url(../images/arrow2.svg) 89% / auto 30% no-repeat rgba(255, 255, 255, 1);
}

.filters__map select:hover {

    background: url(../images/arrow2.svg) 89% / auto 30% no-repeat rgba(205, 205, 205, 1);
    color: #ff4e38;
}

.map__button {
    background: #1baf5d;
    border-radius: 30px;
}

.map__button input {
    background: url(../images/pointerButton.svg) 85.74% / 6.3% 32.43% no-repeat;
    padding: 10px 20px;
    border: none;
    color: #fff;
    cursor: pointer;
    outline: none;
    min-width: 150px;
    width: 30%;
    text-align: left;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

.map__button:hover {
    background-color: #098d3b;
    color: #ddd;
}

.filters__links {
    font-family: 'GothamBold';
}

.filters__keywords {
    font-family: 'GothamBold';
}

.filters__list {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
}

.filters__list p {
    margin-right: 10px;
}

.filters__list .filterLinksBackground {
    margin-right: 5px;
    cursor: pointer;
}

.filters__list div:last-child {
    margin-right: 0;
}

@media (max-width: 769px) {
    .filters__list {
        margin-top: 20px;
    }
}



#houseFilter:hover {
    background-color: #63EEA1;
}
#houseFilter.active {
    background-color: #1baf5d;
}
#houseFilter.active:hover {
    background-color: #1baf5d;
}



#girlFilter:hover {
    background-color: #EF7070;
}
#girlFilter.active {
    background-color: #CD1E1E;
}
#girlFilter.active:hover {
    background-color: #CD1E1E;
}



#hatFilter:hover {
    background-color: #6795EF;
}
#hatFilter.active {
    background-color: #1244A4;
}
#hatFilter.active:hover {
    background-color: #1244A4;
}



#musicFilter:hover {
    background-color: #F29268;
}
#musicFilter.active {
    background-color: #DD5115;
}
#musicFilter.active:hover {
    background-color: #DD5115;
}



#busFilter:hover {
    background-color: #CB5FED;
}
#busFilter.active {
    background-color: #8519A7;
}
#busFilter.active:hover {
    background-color: #8519A7;
}

.filterLinksBackground {
    border-radius: 50%;
    background: #b6c0c1;
}

.filterLink {
    width: 25px;
    height: 25px;
    margin: 8px;
    text-align: center;
    vertical-align: middle;
}








/*HEADER*/

.content-up__endLine {
    margin: 0;
    background-color: rgba(86, 99, 117, 0.2);
    border: none;
    height: 1px;
}

.content__endLine {
    margin: 0;
    background-color: rgba(255, 255, 255, 0.1);
    border: none;
    height: 1px;
}





.card {
    margin: 0 auto;
    display: none;
}

.card.active {
    display: block;
}



.card-content {
    border-radius: 10px;
    max-width: 250px;
    position: relative;
    background: #ffffff;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    transition: 0.1s;
}

.card-content:hover {
    background-color: #ddd;
}

.card__image {
    position: relative;

}
.card__bg {
    width: 100%;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.card__price {
    text-align: center;
    color: #fff;
    margin-top: 10px;
    margin-right: 10px;
    padding: 6px 8px;
    border-radius: 16px;
    position: absolute;
    top: 0;
    right: 0;
}


.card__icon {
    border-radius: 50%;
    position: absolute;
    top: calc(100% - 30px);
    left: calc(50% - 30px);
}

.green__bg {
    background-color: #1BAE5D;
}

.red__bg {
    background-color: #CD1E1E;
}

.blue__bg {
    background-color: #1244A4;
}

.orange__bg {
    background-color: #DD5115;
}

.purple__bg {
    background-color: #8519A7;
}

.filter__icon {
    width: 40px;
    height: 40px;
    text-align: center;
    vertical-align: middle;
    margin: 10px;
}

.cards__container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 20px;
    font-family: "Gotham", sans-serif;
}

@media (max-width: 769px) {
    .cards__container {
        grid-template-columns: 1fr 1fr 1fr;    
    }
}

@media (max-width: 600px) {
    .cards__container {
        grid-template-columns: 1fr 1fr;    
    }
}

@media (max-width: 400px) {
    .cards__container {
        grid-template-columns: 1fr;    
    }
}



.card-text {
    text-align: center;
    margin-top: 45px;
    margin-right: 10px;
    margin-left: 10px;
}

.card-text p {
    margin-bottom: 20px;
    font-size: 14px;

}

.card-text h2 {
    margin-bottom: 10px;
    font-size: 22px;
    font-family: "GothamBold", sans-serif;
}

.card-text-stars {
    color: #96a6a7;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: baseline;
    margin-bottom: 20px;
}

.card-text-stars p {
    margin-left: 3px;
    margin-bottom: 0;
}

.card-text-stars img {
    width: 11px;
    height: 11px;
}








.showMoreCards {
    display: flex;
    flex-direction: row;
    justify-content: center;
    cursor: pointer;
    margin-top: 30px;
}

.showCards {
    display: none;
}

.showMoreCards p:first-child {
    margin-right: 7px;
}

.showMoreCards p:first-child:hover {
    text-decoration-color: rgba(0, 0, 0, 0.4);
}

.whatCan__text {
    margin: 89px 207px;
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    text-align: center;
}







.whatCan {
    max-width: 760px;
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.whatCan__text h3 {
    margin-bottom: 15px;
    font-size: 30px;
    font-weight: 700;
}

.whatCan__text p {
    margin-bottom: 0px;
}










.whatCanIcons {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 0px;
    margin-bottom: 100px;
}



.whatCanIcons hr {
    width: 8%;
    background-color: rgba(86, 99, 117, 0.2);
    border: none;
    height: 2px;
}



.whatCanIconsBackground {
    border-radius: 50%;
    padding: 20px;
    background-color: #b6c0c1;
    cursor: pointer;
}


#wC__house__icon:hover {
    background-color: #63EEA1;
}
#wC__house__icon.active {
    background-color: #1baf5d;
}
#wC__house__icon.active:hover {
    background-color: #1baf5d;
}



#wC__girl__icon:hover {
    background-color: #EF7070;
}
#wC__girl__icon.active {
    background-color: #CD1E1E;
}
#wC__girl__icon.active:hover {
    background-color: #CD1E1E;
}



#wC__hat__icon:hover {
    background-color: #6795EF;
}
#wC__hat__icon.active {
    background-color: #1244A4;
}
#wC__hat__icon.active:hover {
    background-color: #1244A4;
}



#wC__music__icon:hover {
    background-color: #F29268;
}
#wC__music__icon.active {
    background-color: #DD5115;
}
#wC__music__icon.active:hover {
    background-color: #DD5115;
}



#wC__bus__icon:hover {
    background-color: #CB5FED;
}
#wC__bus__icon.active {
    background-color: #8519A7;
}
#wC__bus__icon.active:hover {
    background-color: #8519A7;
}



.filterLinkImg {
    width: 50px;
    height: 50px;
    text-align: center;
    vertical-align: middle;
}


.realityText {
    margin: 36px auto 44px;
    font-weight: bold;
    font-size: 24px;
    text-align: center;
}




.reality__item {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.textAdvantages__item {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 45%;
}



.whatCanLinksBackground {
    border-radius: 50%;
    margin-right: 34px;
    padding: 12px;
}

#reality__house .whatCanLinksBackground {
    background-color: #1BAE5D;
}

#reality__girl .whatCanLinksBackground {
    background-color: #CD1E1E;
}

#reality__hat .whatCanLinksBackground {
    background-color: #1244A4;
}

#reality__music .whatCanLinksBackground {
    background-color: #DD5115;
}

#reality__bus .whatCanLinksBackground {
    background-color: #8519A7;
}


.filterLinkImg2 {
    width: 30px;
    height: 30px;
    text-align: center;
    vertical-align: middle;
}

@media (max-width: 769px) {
    .reality__item {
        flex-direction: column;
        justify-content: space-between;
    }

    .textAdvantages__item {
        width: 100%;
    }

    .textAdvantages__item {
        margin-bottom: 20px;
    }

    .textAdvantages__item:last-child {
        margin-bottom: 0px;
    }

    .whatCanIcons hr {
        width: 6%;
    }

    .filterLinkImg {
        width: 40px;
        height: 40px;
    }
    .whatCanIconsBackground {
        padding: 15px;
    }
    .whatCanLinksBackground {
        margin-right: 24px;
        padding: 10px;
    }
    .filterLinkImg2 {
        width: 26px;
        height: 26px;
    }
}

@media (max-width: 550px) {
    .filterLinkImg {
        width: 36px;
        height: 36px;
    }
    .whatCanIconsBackground {
        padding: 12px;
    }
    .whatCanIcons hr {
        width: 0%;
    }
    .whatCanLinksBackground {
        margin-right: 18px;
        padding: 8px;
    }
    .filterLinkImg2 {
        width: 24px;
        height: 24px;
    }
}

@media (max-width: 376px) {
    .filterLinkImg {
        width: 30px;
        height: 30px;
    }
    .whatCanIconsBackground {
        padding: 10px;
    }
    .whatCanLinksBackground {
        margin-right: 14px;
        padding: 6px;
    }
    .filterLinkImg2 {
        width: 20px;
        height: 20px;
    }
}


.reality__item {
    display: none;
}

.realityText {
    display: none;
}

.realityText.active {
    display: block;
}

#reality__house.active {
    display: flex;
}

#reality__girl.active {
    display: flex;
}

#reality__hat.active {
    display: flex;
}

#reality__music.active {
    display: flex;
}

#reality__bus.active {
    display: flex;
}









.footer__container div nav a:hover {
    text-decoration: underline;
    text-decoration-color: rgba(255, 255, 255, 0.5);
}

.footer__container div nav a:first-child:hover {
    text-decoration-color: rgba(255, 255, 255, 1);
}

.footer__container {
    background-image: url(../images/footerBack.jpg);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    flex-direction: column;
    font-family: "Gotham", sans-serif;
}

.subscribe {
    padding-top: 61px;
    display: flex;
    flex-direction: column;
    /*align-items: flex-start;*/
    align-items: stretch;
    text-align: center;
    max-width: 500px;
    width: 100%;
}

.subscribe div {
    margin-bottom: 46px;
    color: #fff;
}

.subscribe form {
    height: 38px;
    margin-bottom: 56px;
    background-color: rgba(255, 255, 255, 0.1);
    border: 2px inset rgba(255, 255, 255, 0.1);
    opacity: 1;
    filter: none;
    border-radius: 30px;

    color: #fff;


    position: relative;
    box-sizing: border-box;

    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

.subscribe form:hover {
    background-color: rgba(225, 225, 225, 0.3);
    border-color: rgba(225, 225, 225, 0.3);
}

.subscribeMail {
    height: 35%;
    padding: 0 0 0 5%;
}

.subscribe__text {
    height: 38px;
    border: none;
    background-color: rgba(255, 255, 255, 0);

    opacity: 1;
    filter: none;
    color: #fff;

    outline: none;

    display: block;
    width: 100%;
    /*height: 3em;*/
    line-height: 3em;
    padding: 0 6em 0 0.7em;
    box-sizing: border-box;
}

/*Вроде, будет кросбраузерной после Prepros-а*/
input.subscribe__text::placeholder {
    color: #fff;
}

.subscribe__button {
    background: #E94E38;
    border-radius: 30px;
    border: none;
    color: #fff;
    cursor: pointer;
    outline: none;

    font-size: 8pt;
    /*border: none;*/

    position: absolute;
    top: .1em;
    right: .1em;
    height: 3.0em;
    text-transform: uppercase;
    box-sizing: border-box;

}

.subscribe__button:hover {
    background-color: #c72c16;
}

.footer-block {
    width: 100%;
}

.footer__content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 42px 0 64px;
    align-items: flex-start;
}

.footer__content div nav a:first-child {
    text-decoration: underline;
    text-decoration-style: unset;
    text-decoration-color: rgba(255, 255, 255, 0.5);
    color: #fff;
    margin-bottom: 14px;

    display: flex;
    align-items: center;
    flex-direction: column;
}

.footer__content div nav a {
    text-decoration: none;
    color: #b4b2b0;
    margin-top: 14px;
}

.footer__links {
    font-size: 11pt;
}

.footer__links nav {
    display: flex;
    align-items: center;
    flex-direction: column;
    align-items: flex-start;
}

.footer__content div:last-child {
    margin-right: 11.34%;
}

.footer__thirdColumn__links {
    display: flex;
    align-items: baseline;
    flex-direction: row;
}

.footer__links nav div a {
    margin-left: 31px;
}

.footer__links nav div a:first-child {
    margin-left: 0px;
}



.companiesNetworksImg {
    width: 31px;
    height: 31px;

}

.copyright {
    color: #dededd;
    margin-top: 75px;
    white-space: nowrap;
}



.popup__login {
    position: fixed;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    color: #fff;
    left: 0;
    top: 0;
    opacity: 0;
    visibility: hidden;
    overflow-y: auto;
    overflow-x: hidden;
    transition: all 0.8s ease 0s;

}

#popup__login.open {
    opacity: 1;
    visibility: visible;
}

#popup__login.open .popup__login__content {
    opacity: 1;
    transform: perspective(600px) translate(0px, 0px) rotateX(0deg);
}

.lock {
    overflow: hidden;
}

/*.popup__area{
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
}*/

.popup__login__body {
    min-height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px 10px;
}

.popup__login__content {
    max-width: 800px;
    background-color: #fff;
    padding: 30px;
    position: relative;

    transition: all 0.8s ease 0s;
    opacity 0;
    transform: perspective(600px) translate(0px, -100%) rotateX(45deg);
}

.popup__login__close {
    position: absolute;
    right: 10px;
    top: 10px;
    font-size: 20px;
    text-decoration: none;
}



.popup__title {
    font-size: 40px;
    margin: 0 0 1em 0;
}

.popup__text {}




/*////////////////////Admin Partial//////////////////////////*/

.admin__container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 800px;
}


.changeCard__container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
    background-color: #DD5115
}

.changeCard__content{

}
