@font-face {
    font-family: 'Gotham';
    src: local('Gotham Medium'), local('Gotham-Medium'),
        url('../fonts/Gotham-Medium.woff2') format('woff2'),
        url('../fonts/Gotham-Medium.woff') format('woff'),
        url('../fonts/Gotham-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Gotham';
    src: local('Gotham Thin'), local('Gotham-Thin'),
        url('../fonts/Gotham-Thin.woff2') format('woff2'),
        url('../fonts/Gotham-Thin.woff') format('woff'),
        url('../fonts/Gotham-Thin.ttf') format('truetype');
    font-weight: 100;
    font-style: normal;
}

* {

    font-size: 11pt;
    /*font: RGB;*/
    font-family: "Gotham", sans-serif;
}

.logo {
    display: flex;
    flex-direction: row;
    align-items: center;
    font-family: "Gotham", sans-serif;
}

.logo p {
    margin: 0;
    font-weight: 700;
}

.external__container {}

.head__container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    font-family: "Gotham", sans-serif;
}


.what__container {
    background-image: url(../images/searchBackground.png);
    background-color: #fff;
    background-position: 0px 0px;
    background-size: 100% 100%;
    /*100% 450px*/
    background-repeat: no-repeat;
    font-family: "Gotham", sans-serif;
}

.tools__container {
    font-family: "Gotham", sans-serif;
}

.content__container {
    background-color: #f3f1f2;
    padding: 16px 0;
    font-family: "Gotham", sans-serif;
}

.whatCan__container {
    background-color: #f3f1f2;
    padding-bottom: 143px;
    font-family: "Gotham", sans-serif;
}


.container {
    /*background-color: #fff;*/
    max-width: 980px;
    margin: 0 auto;
}

.spacer {
    flex: 1 auto;
}

.special__container {
    /*background-color: #fff;*/
    max-width: 980px;
    margin: 0 auto;
    flex: 1 100%;
}

/*HEADER*/
.container__menu {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    /*align-items: flex-start;*/
    align-items: center;
}

.container__logo {
    font-size: 21pt;
    font-stretch: normal;
}

.container__logo a {
    text-decoration: none;
    color: #4b5b6a;
}

.container__logo img {
    width: 45px;
}


.container__menu__links__search__login {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    /*align-items: flex-start;*/
    align-items: center;
}

.menu__links {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
}

.container__menu__links {
    max-width: 1436px;
    margin: 0 auto;

}

.navicon {
    float: right;
    transform: rotate(90deg);
    display: none;
}


.header__burger {
    display: none;
    margin-right: 3px;
}



@media (max-width: 791px) {

    .header__burger {
        display: block;
        position: relative;
        width: 30px;
        height: 20px;
        position: relative;
        z-index: 3;
    }

    

    .header__burger span {
        position: absolute;
        background-color: #000;
        left: 0;
        width: 100%;
        height: 2px;
        top: 9px;
        transition: all 0.3s ease 0s;
    }

    .header__burger:before, .header__burger:after {
        content: "";
        background-color: #000;
        position: absolute;
        width: 100%;
        height: 2px;
        left: 0;
        transition: all 0.3s ease 0s;
    }

    .header__burger:before {
        top: 0;
    }

    .header__burger:after {
        bottom: 0;
    }

    .header__burger.active:before {
        transform: rotate(45deg);
        top: 9px;
    }

    .header__burger.active:after {
        transform: rotate(-45deg);
        bottom: 9px
    }

    .header__burger.active span {
        transform: scale(0);
    }

    .background__menu__links{
        display: block;
    }

    /*.header__burger {
        display: block;
        width: 30px;
        height: 20px;
        margin-right: 10%;
    }

    .header__burger span {
        background-color: #fff;
        width: 100%;
        height: 2px;
    }

    .header__burger:before,
    .header__burger:after {
        content: '';
        background-color: #000;
        width: 100%;
        height: 2px;
    }

    .header__burger:before {
        content: '';
        background-color: #000;
    }

    .header__burger:after {
        content: '';
        background-color: #000;
    }*/

    /*.navicon {
        display: block;
    }*/

    .container__menu__links {
        /*display: none;*/
        /*display: block;*/
        display: none;
    }

    .menu__links {
        /*width: 100%;*/
        /*display: block;*/
        flex-direction: column;
    }

    .link__menu__search {
        display: none;
    }

    .link__menu__login {
        display: none;
    }

}

.menuActive{
    margin-top: 80px;
}

.disable{
    display: none;
}

.activeBlock {
    display: block;
    position: absolute;
}

.background__menu__links{
    display: none;
    position: absolute;
    width: 100%;
    z-index: 50;
    top: 0;
    left: 0;
}

.background__menu__links:before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #fff;
}

.container__menu__links a {
    text-decoration: none;
    color: #888;
    padding: 22px 10px 22px 10px;
    font-size: 11pt;
    /*7.5*/
    /*padding: 10px 32px 10px 32px;*/
    /*margin-top: 32px;
    margin-bottom: 32px;*/
}

.container__menu__links a:hover {
    background-color: #ddd;
    color: #666;
    transition: .3s;
}

.link__menu__search {
    background-color: #e2dee0;

}

.link__menu__search:hover {
    background-color: #aaa;
    color: #666;
    transition: .3s;
}

.img__search {
    height: 23px;
    padding: 17px 25.5px 17px 25.5px;
}

.link__menu__login {
    background-color: #e94e38;
    flex: 1;

}

.link__menu__login:hover {
    background-color: #c72c16;
    transition: .3s;
}

.img__login {
    height: 23px;
    padding: 17px 25.5px 17px 25.5px;
}

.search {
    display: flex;
    flex-direction: column;
    /*align-items: flex-start;*/
    max-width: 476px;
    width: 100%;
    margin: 0 auto;

    align-items: center;
    font-size: 23.04pt;

    /* background: #f6d654 url(searchBackground.png) repeat-y;*/
}

.search__what {
    /*margin: 58px 39px 16px;*/
    color: #ffffff;
    margin-top: 50px;
}

.search__comboboxes {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    width: 100%;
    margin-top: 32px;

}


.search__comboboxes select {
    /*margin-right: 14px;*/
    width: 45%;
    height: 38px;
    border-radius: 30px;
    padding: 0 7%;
    border-color: rgba(255, 255, 255, 0.1);
    outline: none;
    color: #fff;
    cursor: pointer;

    /*cursor: pointer;
    outline: none;
    opacity: 0.2;
     /*Значение прозрачности 
    filter: alpha(Opacity=20);*/

    /*padding: 5px 35px 5px 5px;*/
    font-size: 16px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background: url(../images/arrow.svg) 89% / auto 30% no-repeat rgba(255, 255, 255, 0.1);
}

.search__comboboxes select:hover {
    border-color: rgba(225, 225, 225, 0.3);
    background: url(../images/arrow.svg) 89% / auto 30% no-repeat rgba(225, 225, 225, 0.3);
}

.search__comboboxes select option {
    /*TODO Не работает*/
    border-radius: 30px;
    padding: 0 7%;
    border-color: rgba(255, 255, 255, 0.1);
    outline: none;
    color: #000;
    cursor: pointer;
    font-size: 16px;

}



.search__text {
    margin: 38px 39px 0px;
    width: 100%;
    height: 38px;
    box-sizing: border-box;

    background-color: rgba(255, 255, 255, 0.1);
    border-color: rgba(255, 255, 255, 0.1);
    padding: 0 7%;
    opacity: 1;
    filter: none;
    border-radius: 30px;
    color: #fff;
    cursor: text;
    outline: none;
}

/*
border-color: rgba(225, 225, 225, 0.3);
    background: url(../images/arrow.svg) 89% / auto 30% no-repeat rgba(225, 225, 225, 0.3);
*/

.search__text:hover {
    border-color: rgba(225, 225, 225, 0.3);
    background: rgba(225, 225, 225, 0.3);
}

/*Вроде, будет кросбраузерной после Prepros-а*/
input.search__text::placeholder {
    color: #fff;
}



/* Centered text */
.search__button {
    background: #E94E38;
    padding: 20px 20px;
    margin: 32px 0px 49px;
    border-radius: 30px;
    border: none;
    color: #fff;
    cursor: pointer;
    outline: none;
    width: 110px;
    height: 52px;
    /*border: none;*/
}

.search__button:hover {
    background: #c72c16;
    /*color: #000;*/
}


.filters {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 7px 0;

}

.filters nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex: 0 30%;
    flex-wrap: wrap;
}

.filters nav a {
    text-decoration: none;
    color: #96a6a7;
    font-size: 11pt;
}

.filters nav a:first-child {
    text-decoration: none;
    color: #e94e38;
}

.filters__map {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex: 0 22%;
}

.filters__map select {
    width: 127px;
    height: 37px;
    border-radius: 30px;
    padding: 0 7%;
    border-color: rgba(202, 210, 211, 0.9);
    outline: none;
    color: #e94e38;
    cursor: pointer;
    margin-right: 10px;

    font-size: 16px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background: url(../images/arrow2.svg) 89% / auto 30% no-repeat rgba(255, 255, 255, 1);
}

.filters__map select:hover {

    background: url(../images/arrow2.svg) 89% / auto 30% no-repeat rgba(205, 205, 205, 1);
    color: #ff4e38;
}

.map__button {
    background: #1baf5d;
    border-radius: 30px;
}

.map__button input {
    background: url(../images/pointerButton.svg) 85.74% / 6.3% 32.43% no-repeat;
    padding: 10px 20px;
    border: none;
    color: #fff;
    cursor: pointer;
    outline: none;
    width: 127px;
    height: 37px;
    text-align: left;
    appearance: none;
}

.map__button:hover {
    background-color: #098d3b;
    color: #ddd;
}

.filters__links {}

.filters__list {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
}

.filters__list p {
    margin-right: 5px;
}

.filters__list div {
    margin-right: 5px;
    cursor: pointer;
}

.filters__list div:last-child {
    margin-right: auto;
}

#houseFilter:hover {
    background-color: #0aAE5D;
}

#girlFilter:hover {
    background-color: #d7F369;
}

#hatFilter:hover {
    background-color: #0144A4;
}

#musicFilter:hover {
    background-color: #dd614D;
}

#busFilter:hover {
    background-color: #5b3A7C;
}

.filterLinksBackground {
    border: 2px solid #fff;
    border-radius: 50%;
    overflow: hidden;
    background: #b6c0c1;
    width: 40px;
    height: 40px;
}

.filterLinkImg {
    padding: 20%;
    width: 60%;
    height: 60%;
}

.greenBackground {
    background: #1baf5d;
}

.yellowBackground {
    background: #E8F369;
}

.blueBackground {
    background: #1244A4;
}

.redBackground {
    background: #EE614D;
}

.purpleBackground {
    background: #6C3A7C;
}



/*
position: absolute;
    top: .1em;
    right: .1em;
    height: 3.0em;
*/


/*@media (max-width: 600px) {
    .menu__links{
        flex-direction: column;
    }
}*/
/*HEADER*/

.content-up__endLine {
    margin: 0;
    background-color: rgba(86, 99, 117, 0.2);
    border: none;
    height: 1px;
}

.content__endLine {
    margin: 0;
    background-color: rgba(255, 255, 255, 0.1);
    border: none;
    height: 1px;
}

.card {
    margin: 16px 18px;
    border-radius: 3px;
    overflow: hidden;

}

.card-content {
    width: 209px;
    height: 267px;
    position: relative;
    background: #ffffff;
    padding-bottom: 8px;
}

.card-content::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    transition: all .6s ease;
}

.card-content:hover::before {
    background-color: rgba(255, 255, 255, 0.5);
}

.cards__container a {
    text-decoration: none;
}

.cards__container {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
    font-family: "Gotham", sans-serif;
}

.cards__container div.card:nth-child(n + 12) {
    display: none;
}

.cardBackground {
    height: 100%;
    width: 100%;
}

.card-content div:first-child {
    height: 52%;
    width: 100%;
    padding-bottom: 3px;
}

#card_1 {
    /*position: relative;
    bottom: 25px;
    left: 35.2%;*/
    bottom: 30px;
    /*margin-left: 35.4%;*/
    position: relative;
    left: 80px;

    /*right: 35.2%;
    margin-left: 50%;
    margin-right: 50%;*/
    width: 50px;
    height: 50px;
}


.card-price {
    position: absolute;
    width: 33.1%;
    height: 22px;
    background: #1baf5d;
    border-radius: 30px;
    text-align: center;
    padding-top: 8px;
    left: 60.53%;
    top: 7px;
    color: #fff;
}

.card-text {
    text-align: center;
    margin-top: 30px;
}

.card-text p:first-child {
    margin-bottom: 19px;
    color: #566375;
}

.card-text p:first-child+p {
    color: #1baf5d;
    margin-bottom: 7px;
}

.card-text-stars {
    color: #96a6a7;
    display: flex;
    flex-direction: row;
    margin: 0 auto;
    justify-content: center;
    align-items: baseline;
}

.card-text-stars p {
    margin-left: 3px;
}

.card-text-stars img {
    width: 11px;
    height: 11px;
}

.showMoreCards {
    display: flex;
    flex-direction: row;
    justify-content: center;
    cursor: pointer;
}

.showCards {
    display: none;
}

.showMoreCards p:first-child {
    /*after*/
    text-decoration: underline;
    margin-right: 7px;
}

.showMoreCards p:first-child:hover {
    text-decoration-color: rgba(0, 0, 0, 0.4);
}

.whatCan__text {
    margin: 89px 207px;
    display: flex;
    flex-direction: column;
    /*align-items: flex-start;*/
    width: 100%;
    align-items: center;
}

.whatCan {

    max-width: 760px;
    display: flex;
    flex-direction: column;
    /*align-items: flex-start;*/
    width: 100%;
    margin: auto;

    align-items: center;
}

.whatCan__text div {
    margin-bottom: 15px;
    font-size: 16.56pt;
    /*font-size: 23.04pt;*/
    font-weight: bold;
    color: #566375;
}

.whatCan__text div+div {
    margin-bottom: 0px;
    font-size: 15.56px;
    /*font-size: 23.04pt;*/
    font-weight: 300;
    color: #96a6a7;
}

.whatCanIcons {
    display: flex;
    flex-direction: row;
    /*align-items: flex-start;*/
    margin: 0 auto;
    align-items: center;


}

/*.whatCanIcons img {
    width: 11%;
}*/

.whatCanIcons hr {
    width: 9%;
    background-color: rgba(86, 99, 117, 0.2);
    border: none;
    height: 2px;
}

.test {
    width: 11%;
}

.whatCanIconsBackground {
    border: 2px solid #9dacad;
    border-radius: 50%;
    overflow: hidden;
    background: none;

    position: relative;
    width: 100%;
    padding-bottom: 100%;
}

.whatCanIcon__container {
    display: inline-block;
    position: relative;
    width: 11%;
}

.whatCanIcons div div:hover {
    transition: .3s;
    opacity: 0.8;
}

.whatCanIcons div:first-child div:last-child:hover {
    border-color: #1baf5d;
}

.whatCanIcons div:nth-child(3) div:last-child:hover {
    border-color: #E8F369;
}

.whatCanIcons div:nth-child(5) div:last-child:hover {
    border-color: #1244A4;
}

.whatCanIcons div:nth-child(7) div:last-child:hover {
    border-color: #EE614D;
}

.whatCanIcons div:last-child div:last-child:hover {
    border-color: #6C3A7C;
}


.dummy {
    margin-top: 100%;
}

.whatCanElement {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.whatCanLinkImg {
    position: absolute;
}


.realityText {
    margin: 36px auto 44px;
    color: #1baf5d;
    font-weight: bold;
    text-align: center;
}

.whatCan__textAdvantages {
    display: flex;
    flex-direction: row;
    /*align-items: flex-start;*/
    margin: 0 auto;
    align-items: center;

}

.whatCan__textAdvantages div {
    display: flex;
    flex-direction: row;
    /*align-items: flex-start;*/
    /*margin: auto;*/
    align-items: center;
}


.whatCan__textAdvantages div div:last-child {}

/*.whatCan__textAdvantages div:first-child div {
    margin-right: 39px;
}

.whatCan__textAdvantages div div {
    margin-right: 10px;
}

.whatCan__textAdvantages div img {
    margin-right: 34px;
}*/


.whatCanLinksBackground {
    border-radius: 50%;
    overflow: hidden;
    background: #b6c0c1;
    width: 40px;
    height: 40px;
    margin-right: 34px;
}


.filterLinkImg2 {
    padding: 20%;
    width: 60%;
    height: 60%;
}

/*
    border: 2px solid #fff;
    border-radius: 50%;
    overflow: hidden;
    background: #b6c0c1;
    width: 40px;
    height: 40px;
*/

/*.whatCanLinksBackground img{
    width: 30px;
    height: 30px;
}*/

.whatCan__textAdvantages img {
    /*width: 12%;*/
}

/*margin-bottom: 143px;*/

.footer__container div nav a:hover {
    text-decoration: underline;
    text-decoration-color: rgba(255, 255, 255, 0.5);
}

.footer__container div nav a:first-child:hover {
    text-decoration-color: rgba(255, 255, 255, 1);
}

.footer__container {
    background-image: url(../images/footerBack.png);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    flex-direction: column;
    font-family: "Gotham", sans-serif;
}

.subscribe {
    padding-top: 61px;
    display: flex;
    flex-direction: column;
    /*align-items: flex-start;*/
    align-items: stretch;
    text-align: center;
    max-width: 500px;
    width: 100%;
}

.subscribe div {
    margin-bottom: 46px;
    color: #fff;
}

.subscribe form {
    height: 38px;
    margin-bottom: 56px;
    background-color: rgba(255, 255, 255, 0.1);
    border: 2px inset rgba(255, 255, 255, 0.1);
    opacity: 1;
    filter: none;
    border-radius: 30px;

    color: #fff;


    position: relative;
    box-sizing: border-box;

    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

.subscribe form:hover {
    background-color: rgba(225, 225, 225, 0.3);
    border-color: rgba(225, 225, 225, 0.3);
}

.subscribeMail {
    height: 35%;
    padding: 0 0 0 5%;
}

.subscribe__text {
    height: 38px;
    border: none;
    background-color: rgba(255, 255, 255, 0);

    opacity: 1;
    filter: none;
    color: #fff;

    outline: none;

    display: block;
    width: 100%;
    /*height: 3em;*/
    line-height: 3em;
    padding: 0 6em 0 0.7em;
    box-sizing: border-box;
}

/*Вроде, будет кросбраузерной после Prepros-а*/
input.subscribe__text::placeholder {
    color: #fff;
}

.subscribe__button {
    background: #E94E38;
    border-radius: 30px;
    border: none;
    color: #fff;
    cursor: pointer;
    outline: none;

    font-size: 8pt;
    /*border: none;*/

    position: absolute;
    top: .1em;
    right: .1em;
    height: 3.0em;
    text-transform: uppercase;
    box-sizing: border-box;

}

.subscribe__button:hover {
    background-color: #c72c16;
}

.footer-block {
    width: 100%;
}

.footer__content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 42px 0 64px;
    align-items: flex-start;
}

.footer__content div nav a:first-child {
    text-decoration: underline;
    text-decoration-style: unset;
    text-decoration-color: rgba(255, 255, 255, 0.5);
    color: #fff;
    margin-bottom: 14px;

    display: flex;
    align-items: center;
    flex-direction: column;
}

.footer__content div nav a {
    text-decoration: none;
    color: #b4b2b0;
    margin-top: 14px;
}

.footer__links {
    font-size: 11pt;
}

.footer__links nav {
    display: flex;
    align-items: center;
    flex-direction: column;
    align-items: flex-start;
}

.footer__content div:last-child {
    margin-right: 11.34%;
}

.footer__thirdColumn__links {
    display: flex;
    align-items: baseline;
    flex-direction: row;
}

.footer__links nav div a {
    margin-left: 31px;
}

.footer__links nav div a:first-child {
    margin-left: 0px;
}



.companiesNetworksImg {
    width: 31px;
    height: 31px;

}

.copyright {
    color: #dededd;
    margin-top: 75px;
    white-space: nowrap;
}



.popup__login {
    position: fixed;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    color: #fff;
    left: 0;
    top: 0;
    opacity: 0;
    visibility: hidden;
    overflow-y: auto;
    overflow-x: hidden;
    transition: all 0.8s ease 0s;

}

#popup__login.open {
    opacity: 1;
    visibility: visible;
}

#popup__login.open .popup__login__content {
    opacity: 1;
    transform: perspective(600px) translate(0px, 0px) rotateX(0deg);
}

.lock {
    overflow: hidden;
}

/*.popup__area{
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
}*/

.popup__login__body {
    min-height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px 10px;
}

.popup__login__content {
    max-width: 800px;
    color: #000;
    background-color: #fff;
    padding: 30px;
    position: relative;

    transition: all 0.8s ease 0s;
    opacity 0;
    transform: perspective(600px) translate(0px, -100%) rotateX(45deg);
}

.popup__login__close {
    position: absolute;
    right: 10px;
    top: 10px;
    font-size: 20px;
    text-decoration: none;
    color: #000;
}



.popup__title {
    font-size: 40px;
    margin: 0 0 1em 0;
}

.popup__text {}






/*@font-face {
    font-family: "GothamMedium";
    src: url("fonts/GothamMedium.otf") format("truetype");
    src: url("fonts/GothamMedium.ttf") format("truetype");

    font-style: normal;
    font-weight: normal;
}*/